
.login{

width: 100%;
height: auto;
padding: 3% 0% 3% 0%;


}
.login h1{
    text-align: center;
}


form{
align-items: center;
width: 50%;
height: auto;
padding: 10% 15% 5% 15%;
display: block;
text-align: center;
background-color: azure;
margin: 1% 25% 0% 25%;
}
form input{
    
margin-bottom:5% ;
}
.login p{
color: red;
text-align: center;


}