@font-face {
    font-family: 'Striker';
    src: url(../src/assets/Tipografia/striker_3/Striker.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  }


header{
width: 95.5%;
height: 40%;
background-image: url(../public/header-sneakers-1250x469.jpg);
background-size: 100% 150%;
background-position: 100% 150%;
color: white;
padding: 3%;
margin: -1%;
}
header h1{
font-family: 'Striker';
font-size: 350%;

}
#root{
width: 100%;
height: auto;
padding: 2%;


}
main{
width: 100%;
height: 50%;
padding: 0% 1% 2% 1%;
color: black;
}
footer{

padding: 2%;
width: 96%;
height: auto;
background: linear-gradient(90deg, rgba(255,244,12,1) 15%, rgba(249,247,101,1) 52%, rgba(255,254,178,1) 73%, rgba(255,255,255,0.9556197478991597) 92%);
color: white;
display: flex;
}

footer .logo{
width: 30%;
font-family:'Striker' ;

}
footer .info{

width: 60%;
height: auto;
display: flex;

gap: 5%;
}
footer .info h5{
color: black;
text-align: center;
}
footer .info li{

list-style: none;

}
footer .info a{
    text-decoration: none;
    color: black;
}
footer div section{


    display: block;
    justify-content: center;

}
